@import url("https://fonts.googleapis.com/css2?family=Caprasimo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;800&display=swap");
body {
  width: 99vw;
}

#nabar {
  background-color: #cfa53bfb;
  font-size: 1.2rem;
}

.home,
.about,
.contact,
.spoken {
  margin-left: 20px;
  font-weight: 600;
}

#dropdown {
  background-color: #bbdb51;
}

/* hero section */

#herosection {
  background-color: #ffb700;
}

.improve {
  font-size: 3rem;
}

.reading {
  font-size: 1.3rem;
}

#coaching {
  background-color: rgba(22, 226, 226, 0.94);
  font-size: 1.2rem;
  margin-top: 4px;
  margin-bottom: 10px;
}

.englishf {
  font-family: "Caprasimo", cursive;
}

/* About us */

.font {
  color: #f60707;
  font-family: "Roboto Slab", serif;
}

/* accordion  */

#accordion {
  border: 1px solid rgba(0, 0, 0, 0.158);
}

/* address */

#location {
  margin-left: 25px;
}

#address1 {
  background-color: #e4e5e0;
}

/* footer  */

.footer {
  position: relative;
  width: 100%;
  background: #282a2d;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

/* .social-icon__link:hover {
  transform: translateY(-10px);
} */

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

/* .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
} */

/* .wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
} */

/* .wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
} */

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
